@import url('https://fonts.googleapis.com/css2?family=Anton&family=Roboto:wght@100&display=swap');

* {
    font-family: 'Anton', sans-serif;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    overflow-x: hidden;
}

a {
    color: black;
    text-decoration: none;
}

a:visited {
    color: black;
}

a:hover {
    color: black;
}

#background {
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    filter: blur(0.26vw) brightness(75%) saturate(130%);
    box-shadow: inset 0vw -0.5vw 0.15vw rgba(0, 0, 0, 0.5);
}

nav {
    position: fixed;
    top: 0;
    background: linear-gradient(180deg, #FFFFFF 0%, rgba(218, 218, 218, 0.25) 100%);
    box-shadow: 0vw 0.26vw 0.15vw rgba(0, 0, 0, 0.1);
    width: 100vw;
    height: 6.5vw;
    text-transform: uppercase;
    font-size: 1.8vw;
    color: black;
    z-index: 2;
}

#nav-image {
    width: 6.5vw;
    height: 13vw;
    position: absolute;
    left: 5vw;
}

nav img {
    width: 6.5vw;
    filter: drop-shadow(0vw 0.2vw 0.2vw rgba(0, 0, 0, 0.5));
}

#nav-buttons {
    display: table;
    table-layout: auto;
    position: absolute;
    width: 82vw;
    left: 18vw;
    height: 100%;
}

nav a {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    width: 6vw;
}

nav #shop-button > span {
    color: white;
    background-color: #00D2FF;
    padding-top: 0.75vw;
    padding-bottom: 0.75vw;
    padding-left: 3vw;
    padding-right: 3vw;
    box-shadow: 0vw 0.2vw 0.2vw rgba(0, 0, 0, 0.5), inset 0.05vw -0.26vw 0.1vw 0.05vw rgba(0, 0, 0, 0.25);
    text-shadow: -0.1vw 0.1vw 0.15vw #000000;
    border-radius: 14.5vw;
    font-size: 2.1vw;
}

header {
    text-transform: uppercase;
    font-size: 5.2vw;
    text-align: center;
    color: white;
    margin-top: 5vw;
    margin-bottom: 5vw;
    text-shadow: -0.1vw 0.1vw 0.2vw rgba(0, 0, 0, 0.75);
}

header.header-left {
    text-align: left;
    margin-left: 6vw;
}

#content {
    margin-top: 9vw;
}

.first-panels {
    margin-left: 5vw;
    width: 90vw;
}

.first-panels tbody tr {
    height: fit-content;
}

.first-panels tbody tr td:nth-child(1) {
    width: 30vw;
    vertical-align: top;
}

td.td-line {
    width: 1vw;
    height: 29.7vw;
}

td.td-line > div {
    width: 0.25vw;
    height: 100%;
    margin-left: 0.355vw;
    background-color: #00D2FF;
    box-shadow: 0vw 0vw 1vw rgba(0, 0, 0, 0.75);
}

.first-panels tbody tr td:nth-child(3) {
    width: 60vw;
    vertical-align: top;
    height: 29.7vw;
}

.black-panel {
    background: rgba(0, 0, 0, 0.5);
    box-shadow: 0vw 0vw 2.6vw 0.78vw rgba(0, 0, 0, 0.25);
    border-radius: 2.5vw;
    height: 100%;
}

.black-panel h1 {
    font-size: 4vw;
    padding-left: 2.96vw;
    padding-right: 2.96vw;
    padding-top: 2.9vh;
    color: #00D2FF;
    text-shadow: -1vw 1vw 2vw rgba(0, 0, 0, 0.75);
    margin-bottom: 0;
    margin-top: 0;
}

.black-panel span {
    display: block;
    color: white;
    padding-bottom: 12px;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    font-size: 2vw;
    text-shadow: -0.1vw 0.1vw 0.2vw rgba(0, 0, 0, 0.75);
}

.first-panels tbody tr td:nth-child(1) div span {
    font-size: 1.7vw;
}

.black-panel span.circle-span {
    padding: 0;
    width: 100%;
    padding-top: 1vh;
}

.black-panel:last-child span.circle-span {
    padding-bottom: 1vh;
}

.black-panel span.circle {
    vertical-align: middle;
    background-color: #00D2FF;
    width: 4.5vw;
    height: 4.5vw;
    border-radius: 50%;
    padding: 0;
    display: inline-block;
    background-size: 4vw;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 0.75vw;
}

.black-panel span.circle img {
    width: 3.5vw;
    margin-left: 0.5vw;
    margin-top: 0.5vw;
    filter: drop-shadow(0vw 0.2vw 0.2vw #000000);
    transition: .3s;
}

.black-panel span.circle-span:hover > .tooltip span.circle img  {
    width: 4vw;
    margin-left: 0.25vw;
    margin-top: 0.25vw;
}

.black-panel span.circle-span a:hover > .tooltip span.circle img  {
    width: 4vw;
    margin-left: 0.25vw;
    margin-top: 0.25vw;
}

.black-panel span.circle-span a {
    color: white;
}

div.blue-panels {
    width: 90vw;
    margin-left: 5vw;
    border-spacing: 1vw;
    display: flex;
    flex-wrap: wrap;
    gap: 3vw;
}

div.blue-panel {
    display: flex;
    flex-wrap: nowrap;
    background-color: #00D2FF;
    box-shadow: 0vw 0.2vw 0.2vw rgba(0, 0, 0, 0.5), inset 0.05vw -0.26vw 0.1vw 0.05vw rgba(0, 0, 0, 0.25);
    border-radius: 2.6vw;
    width: 28vw;
    height: 17vw;
    
}

div.blue-panel-image {
    width: 30%;
    margin-top: 3vw;
    text-align: center;
}

div.blue-panel-image img {
    width: 130%;
    margin: 0;
    filter: drop-shadow(-0.1vw 0.1vw 0.1vw rgba(0, 0, 0, 0.25));
}

div.blue-panel-content {
    width: 70%;
    height: 100%;
    margin: 0;
    text-align: center;
    padding-left: 1vw;
    padding-right: 1vw;
    padding-bottom: 1vw;
}

div.blue-panel-content h1 {
    color: #FAFF00;
    text-shadow: -0.1vw 0.1vw 0.15vw #000000;
    font-size: 1.8vw;
    margin-bottom: 0.5vw;
}

div.blue-panel-content span {
    color: white;
    text-shadow: -0.1vw 0.1vw 0.1vw #000000;
    font-size: 1.4vw;
    display: block;
}

div.gray-card {
    width: 70vw;
    height: 15vw;
    background: rgba(0, 0, 0, 0.34);
    box-shadow: 0vw 0.2vw 0.2vw rgba(0, 0, 0, 0.5), inset 0.05vw -0.26vw 0.1vw 0.05vw rgba(0, 0, 0, 0.25);
    border-radius: 2.6vw;
    margin-left: 15vw;
    margin-bottom: 5vw;
    display: flex;
} 

div.gray-card-image {
    width: 30vw;
    border-radius: 2.6vw;
    box-shadow: 0vw 0vw 0.2vw 0.2vw rgba(0, 0, 0, 0.5), inset 0vw 0vw 0.2vw 0.1vw rgba(0, 0, 0, 0.25);
    background-size: cover;
    background-repeat: no-repeat;
    border: 0.3vw solid #747474;
}

div.gray-card-content {
    width: 30vw;
    font-size: 1.2vw;
    color: white;
    text-shadow: -0.1vw 0.1vw 0.2vw #000000;
    margin-left: 2vw;
}

div.gray-card-content h2 {
    font-size: 2.3vw;
    color: #00D2FF;
    text-shadow: -0.1vw 0.1vw 0.15vw #000000;
    margin: 0;
    margin-top: 1vw;
    text-transform: uppercase;
}

a.gray-card-button {
    border-top: 9vw solid transparent;
    border-right: 1vw solid transparent;
}

a.gray-card-button > span {
    display: table-cell;
    width: 10vw;
    height: 5vw;
    color: white;
    background-color: #00D2FF;
    box-shadow: 0vw 0.2vw 0.2vw rgba(0, 0, 0, 0.5), inset 0.05vw -0.26vw 0.1vw 0.05vw rgba(0, 0, 0, 0.25);
    border-radius: 14.5vw;
    font-size: 1.3vw;
    text-shadow: -0.1vw 0.1vw 0.15vw #000000;
    text-wrap: nowrap;
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
}

div.big-gray-card .gray-card-content {
    width: 38vw;
    text-align: center;
}

div.big-gray-card .gray-card-content h2 {
    font-size: 3.6vw;
}

div.big-gray-card .gray-card-content span {
    font-size: 2.5vw;
}

div.move-card {
    display: flex;
    width: 80vw;
    height: 30vw;
    margin-left: 10vw;
    background: rgba(255, 255, 255, 0.75);
    box-shadow: 0vw 0.2vw 0.2vw rgba(0, 0, 0, 0.5), inset 0.05vw -0.26vw 0.1vw 0.05vw rgba(0, 0, 0, 0.25);
    border-radius: 2.6vw;
}

div.move-card-content {
    width: 50vw;
    text-shadow: -0.1vw 0.1vw 0.2vw #000000;
    font-size: 1.5vw;
    color: white;
    margin-left: 3vw;
}

div.move-card-content h1 {
    text-shadow: -0.1vw 0.1vw 0.15vw #000000;
    font-size: 2.6vw;
    color: #00D2FF;
}

div.move-card-image {
    width: 30vw;
    background-repeat: no-repeat;
    background-size: cover;
}

div.move-cards-buttons {
    width: 70vw;
    margin-left: 15vw;
    margin-top: 1vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3vw;
}

div.move-card-button {
    width: 4vw;
    height: 4vw;
    border-radius: 50%;
    background: #00D2FF;
    transition: .1s;
    cursor: pointer;
    box-shadow: 0vw 0.2vw 0.2vw rgba(0, 0, 0, 0.5), inset 0.05vw -0.26vw 0.1vw 0.05vw rgba(0, 0, 0, 0.25);
}

div.move-card-button-end {
    display: table;
    color: white;
    width: fit-content;
    height: 4vw;
    text-align: center;
    border-radius: 3vw;
    background: #00D2FF;
    transition: .1s;
    cursor: pointer;
    box-shadow: 0vw 0.2vw 0.2vw rgba(0, 0, 0, 0.5), inset 0.05vw -0.26vw 0.1vw 0.05vw rgba(0, 0, 0, 0.25);
    padding-left: 1vw;
    padding-right: 1vw;
    text-shadow: -0.1vw 0.1vw 0.15vw #000000;
    font-size: 1.4vw;
}

div.move-card-button-end > span {
    display: table-cell;
    vertical-align: middle;
}

div#blue-info-container {
    width: 24vw;
}

div.blue-info {
    background-color: #00D2FF;
    border-radius: 2.3vw;
    height: 8svw;
    color: #FAFF00;
    text-shadow: -0.1vw 0.1vw 0.15vw #000000;
    font-size: 3.2vw;
    text-align: center;
    padding: 3vw;
    padding-top: 1.5vw;
    text-transform: uppercase;
    margin-bottom: 2vw;
}

div.big-panel table {
    margin-left: 6vw;
}

div.big-panel table tbody tr td {
    vertical-align: top;
}

div.white-content-panel {
    width: 55vw;
    padding: 3vw;
    padding-top: 1.5vw;
    height: fit-content;
    color: black;
    font-size: 1.8vw;
    background: rgba(236, 236, 236, 0.75);
    box-shadow: 0vw 0.2vw 0.2vw rgba(0, 0, 0, 0.5), inset 0.05vw -0.26vw 0.1vw 0.05vw rgba(0, 0, 0, 0.25);
    border-radius: 3vw;
    margin-bottom: 3vw;
}

div.white-content-panel h1 {
    margin-top: 0;
    color: #00D2FF;
    text-shadow: -0.1vw 0.1vw 0.15vw #000000;
}

div.white-content-panel-middle {
    width: 84vw;
    margin-left: 5vw;
    margin-bottom: 1.5vw;
}

div.ranks-info-container {
    margin-top: 3vw;
    width: 100%;
    display: flex;
    justify-content: center;
}

div.ranks-info {
    position: absolute;
    width: 15vw;
    height: fit-content;
    padding: 5vw;
    padding-top: 2vw;
    padding-bottom: 2vw;
    background-color: #00D2FF;
    color: white;
    text-align: center;
    text-wrap: nowrap;
    border-radius: 3vw;
    left: 10vw;
    margin-bottom: 2vw;
    box-shadow: 0vw 0.2vw 0.2vw rgba(0, 0, 0, 0.5), inset 0.05vw -0.26vw 0.1vw 0.05vw rgba(0, 0, 0, 0.25);
}

div.ranks-info h1 {
    color: #FAFF00;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 2.3vw;
}

div.solid-white-panel {
    width: 84vw;
    margin-lefT: 5vw;
    min-height: 3vw;
    height: fit-content;
    background: #ECECEC;
    border-radius: 2.6vw;
    box-shadow: 0vw 0.2vw 0.2vw rgba(0, 0, 0, 0.5), inset 0.05vw -0.26vw 0.1vw 0.05vw rgba(0, 0, 0, 0.25);
    font-size: 1.3vw;
    padding: 3vw;
    line-height: 2.3vw;
}

div.solid-white-panel b {
    color: black;
    font-weight: normal;
}

div.solid-white-panel h1 {
    font-size: 3.9vw;
    color: #00D2FF;
    text-shadow: -0.1vw 0.1vw 0.2vw rgba(0, 0, 0, 0.75);
    text-align: center;
    text-transform: uppercase;
}

div.solid-white-panel h2 {
    font-size: 2.3vw;
    color: black;
}

div.solid-white-panel p, div.solid-white-panel li {
    color: rgba(57, 57, 57, 0.8);
}

div.solid-white-panel p.center {
    text-align: center;
}

div.solid-white-panel p.small {
    color: rgb(255, 236, 236);
    text-shadow: -0.15vw 0.1vw 0.4vw rgba(0, 0, 0, 1);
    font-size: 1.5vw;
}

div.staff-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 84vw;
    gap: 3vw;
}

div.staff-record {
    width: 25vw;
    height: 15vw;
    box-shadow: 0vw 0.2vw 0.2vw rgba(0, 0, 0, 0.5), inset 0.05vw -0.15vw 0.1vw 0.05vw rgba(0, 0, 0, 0.25);
    border-radius: 2.6vw;
    background: #00D2FF;
    display: flex;
}

div.staff-ambassadors {
    width: 84vw;
    height: 35vw;
    background-image: url("../assets/ambassadors.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50%;
}

div.staff-image {
    width: 10vw;
    text-align: center;
}

div.staff-image img {
    width: 8vw;
    margin-top: 3vw;
}

div.staff-info {
    width: 15vw;
    padding-right: 1vw;
    padding-top: 1vw;
    text-align: center;
}

div.staff-info h1 {
    font-size: 2.5vw;
    color: white;
    text-transform: none;
    text-shadow: -0.1vw 0.1vw 0vw #000000;
}

div.staff-info span {
    font-size: 1.8vw;
    text-transform: uppercase;
}

div.staff-info span.red {
    color: red;
}

div.staff-info span.orange {
    color: #F8A400;
}

div.staff-info span.green {
    color: #08852B;
}

div.staff-info span.light-green {
    color: #2dd25c;
}

footer {
    position: relative;
    bottom: 0;
    margin-top: 15vw;
    padding-top: 0.5vw;
    padding-bottom: 2vw;
    width: 100%;
    max-height: 100%;
    height: fit-content;
    border-radius: 1.2vw 1.2vw 0vw 0vw;
    background-color: white;
    font-size: 1.5vw;
}

footer div#footer-info {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 10vw;
}

footer img {
    width: 8vw;
}

footer table {
    width: 100%;
}

footer table td:nth-child(1) {
    text-align: center;
}

footer a:hover, .solid-white-panel a:hover {
    color: gray;
}

p.mojang-info {
    text-align: center;
    font-size: 0.8vw;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltip-text {
    visibility: hidden;
    width: 15vw;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 0.5vh;
    padding: 0.3vh 0;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 6vw;
    margin-left: -2vw;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip {
    width: 100%;
}

.tooltip .tooltip-text::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 6vw;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}

.copyable {
    cursor: pointer;
}

@-moz-document url-prefix() {

    .first-panels tbody tr td:nth-child(3) {
        width: 60vw;
        vertical-align: top;
        height: 100%;
    }

    td.td-line {
        height: 96.25vw;
    }

    .first-panels td.td-line {
        height: 43vw;
    }

}